ion-toolbar{
    --background:rgb(33,66,99);
   }
ion-content{
       --background: white;
}
*{
color:black;
}
p{
    font-weight:600;
    font-size :25px;
    padding-top: 7px;
}
ion-button{
    padding-left:120px;
}
.ina{
    --padding-top:1px;
    font-size:25px;
}
.inb{
    --padding-top:1px;
    font-size:25px;
}
.inc{
    --padding-top:1px;
    font-size:25px;
}
.ina1{
    --padding-top:1px;
    font-size:25px;
}
.inb1{
    --padding-top:1px;
    font-size:25px;
}
.inc1{
    --padding-top:1px;
    font-size:25px;
}
.ina2{
    --padding-top:1px;
    font-size:25px;
}
.inb2{
    --padding-top:1px;
    font-size:25px;
}
.inc2{
    --padding-top:1px;
    font-size:25px;
}


.p1{
    padding-left:0px;
}
.p2{
    padding-left:0px;
}
.p3{
    padding-left:120px;
}
.p4{
    padding-left:120px;
}
.eq1{
    padding-left:50px;
}
.eq2{
    padding-left:50px;
}
.eq3{
    padding-left:50px;
}
ion-button{
    padding-left:50px;
}