ion-toolbar{
    --background:rgb(33,66,99);
   }
   ion-content{
       --background: white;
   }
ion-button{
    padding-left:80px;
}
ion-input{
    --padding-top:-20px;
    font-size:20px;
    color:black;
}
.ca{
    padding-top:10px;
}
.cb{
    padding-top:10px;
}
.ca{
    padding-top:10px;
}
.ce{
    padding-top:10px;
}

p{
    font-size:600;
    font-weight:30px;
    color:black;
}
.ina{
    --padding-top:10px;
}
.inb{
    --padding-top:10px;
   
}
.ine{
    --padding-top:10px;
}
.inc{
    --padding-top:10px;
}
.ind{
    --padding-top:10px;
}
.inf{
    --padding-top:7px;
}
.ina1{
    --padding-top:10px;
}
.inb1{
    --padding-top:10px;
}
.inc1{
    --padding-top:10px;
}
.ind1{
    --padding-top:10px;
}
.ina2{
    --padding-top:10px;
}
.inb2{
    --padding-top:10px;
}
.inc2{
    --padding-top:10px;
}
.ind2{
    --padding-top:10px;
}
.ina3{
    --padding-top:10px;
}
.inb3{
    --padding-top:10px;
}
.inc3{
    --padding-top:10px;
}
.ind3{
    --padding-top:10px;
}


.pa{
    font-size:600;
    font-weight:30px;
    padding-top:-50px;
}
.p1{
    padding-left:90px;
}
.p2{
    padding-left:90px;
    color :black;
}


