ion-toolbar{
    --background:rgb(33,66,99);
   }
   ion-content{
       --background: white;
   }
ion-button{
    padding-left:20px;
}
ion-input{
    --padding-top:1px;
    font-size:25px;
    color:black;
    
}
p{
    font-size:25px;
    padding-left:80px;
    color:black;
}
